

<footer>
    <div class="footer-container">
        <div class="footer-copyright-bar">
                <div class="row">
                    <div class="large-9 columns">
                        Copyright: <a href="http://www.alkmaarprachtstad.nl" target="_blank" title="Link naar Alkmaar Marketing.">Alkmaar Marketing</a> | Ontwerp en realisatie: <a href="http://www.raadhuis.com/" target="_blank" title="Link naar de website van designbureau Raadhuis.">RAADHUIS.com</a>
                    </div>
                    <div class="large-3 columns">
                        <a href="/system/disclaimer.aspx" title="Lees hier de disclaimer.">Disclaimer</a> | <a title="Schrijf u in voor de nieuwsbrief." href="/system/nieuwsbrief.aspx">Nieuwsbrief</a>
                    </div>
                </div>
        </div>
    </div>
</footer>

<script src="scripts/696cc9bc.vendor.js"></script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
                function () {
                    (b[l].q = b[l].q || []).push(arguments)
                });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = '//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
</script>

<script src="scripts/d41d8cd9.main.js"></script>
</body>
</html>
