<head>
  <meta charset="utf-8">
  <title>Cheesemarket Alkmaar</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!-- Don't forget to change the elements/chuncks/stylesheet.chunk.tpl if you change the stylesheet rows below -->

  <link rel="stylesheet" href="styles/06b8e428.vendor.css">
  <link rel="stylesheet" href="styles/fffcc15f.main.css">
  <script src="scripts/vendor/22d83e54.modernizr.js"></script>
</head>
